@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Document Conversion API`s</h1>
    <div class="row">
        <div class="col-4">
            <h4>Steps to get api key:</h4>
            <ul style="text-align:left; list-style-type:decimal">
                <li>Do Signup using <a href="/User/Signup">this link</a></li>
                <li>Check your email for verification email link.</li>
                <li>Click on link for email verification.</li>
                <li>Login using username and password that is created using signup form.<a href="/User/Login">Click here for sign in.</a></li>
                <li>After login you will get api key and playground to use that key.</li>
            </ul>
        </div>
        <div class="col-8 service-background" style="height:500px">
           
        </div>
    </div>
</div>
